<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Project WDSH{% endblock title %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <style>
    main {
      margin-top: 3.5rem;
    }

    footer {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      font-size: 0.8rem;
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">WDSH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault"
          aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarDefault">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-bs-toggle="dropdown"
                aria-expanded="false">Prediction</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="{% url 'pred:index' %}">Tomorrow's Pick</a></li>
                <li><a class="dropdown-item disabled" href="#">Previous Pick</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <!-- ohlcv 구현되면 disabled 제거 후 href="{\% url 'ohlcv:index' \%}" -->
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Resources</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% block main %}
  <main>
    <div class="container-fluid">
      {% block content %}
      이 글이 보인다면 base.html 템플릿 그대로니까 내용물 채우셈
      {% endblock content %}
    </div>
  </main>
  {% endblock main %}

  <footer class="site-footer fixed-bottom bg-dark text-light text-center">
    copyright &copy; 2020 WDSH All Rights Reserved
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>